@media (max-width: 1180px)
    .list
        &__btn
            img
                background: url('../img/line.svg')
                width: 350px
@media (max-width: 1024px)
    .contacts__info__city__req
        &__details
            width: 100%
@media (max-width: 1000px)
    .list
        &__more
            font-size: 14px
            display: flex
            align-items: center
            // width: 320px
        // &__btn
        //     img
        //         width: 200px
// @media (max-width: 920px)
//     .list
//         &__btn
@media screen and ( max-width: 880px )
    .wr-line-dotted 
        display: none    
@media (max-width: 780px)
    .galery
        &__text
            display: none
    .navigation
        display: none
    .swiper-pagination
        display: none
    .btn
        display: flex
    .wr-line-dotted 
        display: none
@media (max-width: 770px)
    .form__input
        &:first-child
            margin-bottom: 0 !important   
@media (max-width: 700px)
    .galery
        &__slider
            &__slide
                &__block
                    padding: 10px
                    &__img
                        margin-right: 10px
    .btn--active
        margin-top: 40px
        margin-bottom: -20px
@media (max-width: 605px)
    .galery
        &__slider
            &__slide
                &__block
                    flex-direction: column
                    padding: 0
                    &__group
                        display: flex
                        align-items: center
                        justify-content: space-between
                        width: 90%
                    &__description
                        &__title
                            font-size: 16px
                            margin-bottom: 10px
                        &__name
                            font-size: 14px
                            margin-bottom: 6px
                            color: #7B7B7B
                        &__brand
                            font-family: 'Arial', sans-serif
                            font-size: 14px
                            font-style: normal
                            font-weight: 700
                            line-height: 16px
                            color: #7B7B7B
                            margin-bottom: 10px
                            &-name
                                color: #000
                        &__num
                            font-size: 14px
                            color: #7B7B7B
                            margin-bottom: 10px
                            span
                                color: #000
                    &__cost
                        display: flex
                        align-items: center
                        justify-content: space-between
                        // width: 90%
                        width: 80%
                        &__num
                            font-size: 20px
                            padding-top: 20px
                            // margin-left: -10px
                            margin-left: 5px
                        &__btn
                            font-size: 16px
                            padding: 16px 58px
                            // margin-right: -10px
                            margin-bottom: 10px
                            // margin-left: 20px
                    &__img
                        // width: 93px
                        // height: 93px
                        margin-top: 20px
                        margin-right: 10px
    .btn
        img
            display: none
    .galery__slider__slide__block__description
        margin-right: 5%
@media (max-width: 600px)
    .list
        &__block
            width: 75%
            &__img
                width: 100%
            &__key
                width: 100%
            &__cost
                width: 100%
                &__info
                    width: 100%
@media (max-width: 500px)
    .contacts__info__place
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        &__change
            margin-bottom: 20px
            text-align: center
        &__select
            padding-left: 25px
    .points
        white-space: pre-wrap
@media (max-width: 488px)
    .form__input
        &:first-child
            margin-bottom: 14px !important
@media (max-width: 480px)
    .profile__img.xs 
        width: 100%
@media (max-width: 385px)
    .galery
        &__slider
            &__slide
                &__block
                    width: 100vw
                    position: relative
                    margin-left: -50vw
                    left: 50%
                    border-right: none
                    border-left: none
                    &__group
                        justify-content: space-around
                    &__cost
                        justify-content: space-around
@media (max-width: 475px)
    .galery__slider__slide__block__img
        width: 93px
        height: 93px
    .galery__slider__slide__block__description
        margin-top: 20px
    .galery__slider__slide__block__cost
        width: 90%
        &__btn
            margin-right: 5%
    .galery__slider__slide__block  
        margin-right: -25px
    
