.galery {
  margin-top: 60px;
}

.galery__text {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  color: #008BCC;
  text-transform: uppercase;
  text-align: right;
}

.galery__text__num {
  cursor: pointer;
  font-weight: 300;
}

.galery__text__num--active {
  color: #008BCC;
  font-weight: 700;
}

.galery__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.galery__slider__slide__block {
  padding: 30px 40px 30px 40px;
  border: 1px solid #E9E9E9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.galery__slider__slide__block__img {
  margin-right: 40px;
}

.galery__slider__slide__block__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 455px;
}

.galery__slider__slide__block__description__name {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  color: #E9E9E9;
  margin-bottom: 10px;
}

.galery__slider__slide__block__description__title {
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  color: #000000;
  margin-bottom: 20px;
}

.galery__slider__slide__block__description__num, .galery__slider__slide__block__description__brand {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  color: #000000;
  margin-bottom: 20px;
}

.galery__slider__slide__block__cost__num {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  color: #000000;
  line-height: 28px;
  text-align: center;
  margin-bottom: 32px;
}

.galery__slider__slide__block__cost__btn {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #027DC3;
  text-decoration: none;
  font-weight: 700;
  padding: 16px 44px 16px 44px;
}

.galery__slider__slide__block__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.points {
  display: inline-block;
  vertical-align: bottom;
  white-space: nowrap;
}

.wr-line-dotted {
  width: inherit;
}

.line-dotted {
  display: inline-block;
  width: 100%;
  border: 1px dashed #7B7B7B;
}

.swiper-pagination {
  margin-top: 55px;
}

.swiper-pagination-bullet {
  color: #7B7B7B;
  background-color: #fff;
  outline: none;
  margin-right: 1px !important;
  margin-left: auto;
  font-size: 18px;
  width: 40px;
  height: 40px;
  padding-top: 10px;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  padding-top: 10px;
  color: #fff;
  background-color: #027DC3;
  border-radius: 0;
  width: 40px;
  height: 40px;
}

.swiper-wrapper {
  padding-bottom: 70px;
}

.swiper-next {
  outline: none;
  color: #7b7b7b;
  background: url("../img/arrow-left-blue.svg");
  cursor: pointer;
  height: 24px;
  width: 24px;
  z-index: 15;
}

.swiper-next--active {
  background: url("../img/arrow-left.svg");
}

.swiper-prev {
  outline: none;
  color: #7B7B7B;
  background: url("../img/arrow-left-blue.svg");
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  height: 24px;
  width: 24px;
  cursor: pointer;
  z-index: 15;
}

.swiper-prev--active {
  background: url("../img/arrow-left.svg");
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
  margin-bottom: 18px;
}

.more {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  color: #027DC3;
  background-color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 16px 44px;
  border: 1px solid #027dc3;
  display: block;
  max-width: 224px;
  margin: auto;
  cursor: pointer;
}

.btn {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  outline: none;
}

.btn--nonactive {
  display: none;
}

@media screen and (max-width: 605px) {
  .galery__slider__slide:not(:first-child) {
    display: none;
  }
  .galery__slider__slide__block {
    margin-right: -39px;
    margin-left: -39px;
    padding: 2% 6% !important;
  }
  .swiper-container {
    overflow: visible;
  }
}

@media screen and (max-width: 385px) {
  .galery__slider__slide__block {
    margin-right: -39px;
    padding: 2% 0 !important;
  }
}

.list {
  font-family: 'Arial', sans-serif;
  margin-top: 20px;
}

.list__exmpls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.list__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.list__block__title {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  color: #000;
  margin-bottom: 10px;
}

.list__block__img {
  margin-bottom: 25px;
}

.list__block__square {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  color: #222222;
  margin-bottom: 8px;
}

.list__block__place {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: #222222;
  margin-bottom: 8px;
}

.list__block__cost {
  margin-bottom: 14px;
}

.list__block__cost__num span {
  font-weight: 300;
  text-transform: lowercase;
}

.list__block__cost__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 250px;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  color: #222222;
}

.list__block__key {
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  color: #027DC3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 250px;
  margin-bottom: 30px;
}

.list__block__key__num span {
  text-transform: lowercase;
}

.list__block__btn {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #ffffff;
  background-color: #027DC3;
  cursor: pointer;
  padding: 17px 25px;
  border: none;
  outline: none;
  text-transform: uppercase;
}

.list__text {
  margin-top: 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  color: #008BCC;
}

.list__text a {
  color: #008BCC;
}

.list__text a:visited {
  color: #008BCC;
}

.list__text a:hover {
  text-decoration: none;
}

.btn--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.form__btn {
  padding-left: 35px;
  padding-right: 35px;
}

.more {
  outline: none;
  padding: 16px 44px;
}

.more:hover {
  color: white;
  background-color: #027DC3;
}

.intro__title {
  margin-right: 20px;
}

.intro__text {
  margin-right: 20px;
}

.ymap-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background: url("../img/ymap-before-loader.png") #ffffff no-repeat;
  width: 100%;
  height: 100%;
  margin: auto;
  background-position: center center;
  background-size: cover;
  margin-bottom: 30px;
}

#map-yandex {
  position: relative;
  z-index: 7;
  margin: auto;
  width: 100%;
  height: 30rem;
  cursor: pointer;
  background-color: transparent;
}

.contacts {
  color: #000;
  font-family: 'Arial', sans-serif;
  margin-bottom: -30px;
}

.contacts__text {
  margin-bottom: 30px;
}

.contacts__info {
  width: 80%;
  margin: auto;
}

.contacts__info__city__req__title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  margin-bottom: 30px;
}

.contacts__info__city__req__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60%;
}

.contacts__info__city__req__details__account, .contacts__info__city__req__details__address {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  color: #7b7b7b;
  margin-bottom: 20px;
}

.contacts__info__city__req__details__account li, .contacts__info__city__req__details__address li {
  margin-bottom: 10px;
}

.contacts__info__city__name {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  margin-bottom: 30px;
}

.contacts__info__city__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
  margin-right: 20px;
}

.contacts__info__city__more__details {
  margin-bottom: 30px;
}

.contacts__info__city__more__details__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.contacts__info__city__more__details__title__img {
  margin-right: 10px;
}

.contacts__info__city__more__details__title__text {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
}

.contacts__info__city__more__details__data span {
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #7B7B7B;
}

.contacts__info__place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.contacts__info__place__select {
  padding: 10px 64px 10px 14px;
  outline: none;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #E9E9E9 url("../img/arrow-down.svg") no-repeat 140px 50%;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  max-width: 180px;
}

.contacts__info__place__change {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-right: 23px;
}

option {
  padding: 10px 44px 10px 14px !important;
  background-color: #e9e9e9 !important;
}

@media screen and (max-width: 768px) {
  .contacts__info {
    width: 100%;
  }
  .contacts__info__city__more {
    width: 80%;
  }
  .contacts__info__city__req {
    width: 80%;
  }
  .ymap-container {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
  }
}

@media screen and (max-width: 650px) {
  .contacts__info {
    width: 80%;
  }
  .contacts__info__city {
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.certificates {
  margin-top: 120px;
}

.certificates__title {
  font-family: 'Arial', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  text-align: center;
  color: #000000;
  margin-bottom: 40px;
}

.certificates__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  max-width: 1120px;
  position: relative;
}

.certificates__images img {
  cursor: pointer;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 40px;
  max-width: 210px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cboxElement {
  margin: auto !important;
}

#cboxNext {
  display: block !important;
  background: url("../img/arrow-left-blue.svg") center no-repeat !important;
  right: -20px !important;
  top: 45% !important;
  outline: none;
}

#cboxPrevious {
  display: block !important;
  background: url("../img/arrow-left-blue.svg") center no-repeat !important;
  -webkit-transform: rotate(180deg) !important;
          transform: rotate(180deg) !important;
  left: -20px !important;
  top: 45% !important;
  outline: none;
}

#cboxWrapper, #colorbox {
  overflow: visible !important;
}

.popup {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
}

.popup_bg {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.popup_img {
  position: relative;
  margin: 0 auto;
  z-index: 2;
  width: 40%;
  margin: 1% 0 0 0;
  margin-object-fit: cover;
}

@media screen and (max-width: 768px) {
  .certificates__images img {
    margin-bottom: 30px;
  }
  .popup_img {
    width: 60%;
  }
}

@media screen and (max-width: 500px) {
  .certificates__images img {
    margin: auto;
    margin-bottom: 40px;
  }
}

@media (max-width: 1180px) {
  .list__btn img {
    background: url("../img/line.svg");
    width: 350px;
  }
}

@media (max-width: 1024px) {
  .contacts__info__city__req__details {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .list__more {
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 880px) {
  .wr-line-dotted {
    display: none;
  }
}

@media (max-width: 780px) {
  .list__btn {
    margin-left: -39px;
    margin-right: -39px;
  }
  .galery__text {
    display: none;
  }
  .navigation {
    display: none;
  }
  .swiper-pagination {
    display: none;
  }
  .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .wr-line-dotted {
    display: none;
  }
}

@media (max-width: 770px) {
  .form__input:first-child {
    margin-bottom: 0 !important;
  }
}

@media (max-width: 700px) {
  .galery__slider__slide__block {
    padding: 10px;
  }
  .galery__slider__slide__block__img {
    margin-right: 10px;
  }
  .btn--active {
    margin-top: 40px;
    margin-bottom: -20px;
  }
}

@media (max-width: 605px) {
  .galery__slider__slide__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .galery__slider__slide__block__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90%;
  }
  .galery__slider__slide__block__description__title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .galery__slider__slide__block__description__name {
    font-size: 14px;
    margin-bottom: 6px;
    color: #7B7B7B;
  }
  .galery__slider__slide__block__description__brand {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    color: #7B7B7B;
    margin-bottom: 10px;
  }
  .galery__slider__slide__block__description__brand-name {
    color: #000;
  }
  .galery__slider__slide__block__description__num {
    font-size: 14px;
    color: #7B7B7B;
    margin-bottom: 10px;
  }
  .galery__slider__slide__block__description__num span {
    color: #000;
  }
  .galery__slider__slide__block__cost {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80%;
  }
  .galery__slider__slide__block__cost__num {
    font-size: 20px;
    padding-top: 20px;
    margin-left: 5px;
  }
  .galery__slider__slide__block__cost__btn {
    font-size: 16px;
    padding: 16px 58px;
    margin-bottom: 10px;
  }
  .galery__slider__slide__block__img {
    margin-top: 20px;
    margin-right: 10px;
  }
  .btn img {
    display: none;
  }
  .galery__slider__slide__block__description {
    margin-right: 5%;
  }
}

@media (max-width: 600px) {
  .list__block {
    width: 87.5%;
  }
  .list__block__img {
    width: 100%;
  }
  .list__block__key {
    width: 100%;
    padding: 0 6%;
  }
  .list__block__cost {
    width: 100%;
    padding: 0 6%;
  }
  .list__block__cost__info {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .contacts__info__place {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacts__info__place__change {
    margin-bottom: 20px;
    text-align: center;
  }
  .contacts__info__place__select {
    padding-left: 25px;
  }
  .points {
    white-space: pre-wrap;
  }
  .guide__objects {
    margin-left: -39px;
    margin-right: -39px;
  }
  .guide__objects__object {
    padding: 30px 6% !important;
  }
}

@media (max-width: 488px) {
  .form__input:first-child {
    margin-bottom: 14px !important;
  }
}

@media (max-width: 480px) {
  .profile__img.xs {
    width: 100%;
  }
}

@media (max-width: 385px) {
  .galery__slider__slide__block {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    border-right: none;
    border-left: none;
  }
  .galery__slider__slide__block__group {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .galery__slider__slide__block__cost {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 475px) {
  .galery__slider__slide__block__img {
    width: 93px;
    height: 93px;
  }
  .galery__slider__slide__block__description {
    margin-top: 20px;
  }
  .galery__slider__slide__block__cost {
    width: 90%;
  }
  .galery__slider__slide__block__cost__btn {
    margin-right: 5%;
  }
}

.intro__text {
  margin-bottom: 20px;
}

.intro__text a {
  color: #008BCC;
}

.intro__text a:visited {
  color: #008BCC;
}

.intro__text a:hover {
  text-decoration: none;
}

.guide {
  margin-top: 80px;
  color: #000000;
  font-family: 'Arial', sans-serif;
}

.guide--nonactive {
  display: none;
}

.guide__title {
  font-family: 'Arial', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  text-align: center;
  color: #000000;
  margin-bottom: 40px;
}

.guide__title__description {
  text-align: left;
}

.guide__objects__object {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  border: 1px solid #E9E9E9;
  margin-bottom: 10px;
}

.guide__objects__object__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Arial;
}

.guide__objects__object__description__name {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 12px;
}

.guide__objects__object__description__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 30px;
}

.guide__objects__object__description__date {
  color: #7B7B7B;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  margin-right: 20px;
}

.guide__objects__object__description__link {
  color: #027DC3;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.guide__objects__object__img {
  max-width: 140px;
  max-height: 140px;
  -o-object-fit: contain;
     object-fit: contain;
}

.guide__btn {
  outline: none;
}

.guide .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 140px;
}

.title {
  text-align: center;
  margin-top: 50px;
}

.title::before, .title::after {
  display: inline-block;
  vertical-align: middle;
  content: "";
  border-top: 2px solid #008BCC;
  width: 10px;
  margin: 0 1rem;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

@media screen and (max-width: 1000px) {
  .img {
    margin-left: 40px !important;
  }
}

@media screen and (max-width: 920px) {
  .list__btn img:first-child {
    margin-left: -15%;
  }
  .list__btn img:last-child {
    margin-right: -15%;
  }
}

@media screen and (max-width: 675px) {
  .list__btn img:first-child {
    margin-left: -25%;
  }
  .list__btn img:last-child {
    margin-right: -25%;
  }
}

@media screen and (max-width: 650px) {
  .guide__objects__object__description__name {
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  .img {
    margin-left: 0 !important;
  }
  .guide__objects__object {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .guide__objects__object__description {
    text-align: center;
  }
  .guide__objects__object__description__name {
    font-size: 18px;
    line-height: 20.7px;
  }
  .guide__objects__object__description__date {
    display: block;
    margin-bottom: 20px;
  }
  .guide__objects__object__img {
    margin-bottom: 20px;
    max-width: 240px;
    max-height: 240px;
  }
  .guide__date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 350px) {
  .guide__objects__object {
    padding: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    border: none;
    border-top: 1px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
  }
  .guide__objects__object__description__name {
    font-size: 18px;
  }
  .guide__objects__object__description__text {
    font-size: 16px;
  }
  .guide__objects__object__description__date {
    font-size: 16px;
  }
  .guide__objects__object__description__link {
    font-size: 16px;
  }
}

.page__text h1, .page__text h2, .page__text h3, .page__text h4, .page__text h5, .page__text h6 {
  font-family: Arial;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 28px;
  color: #000000;
}

.page__text h1 {
  font-size: 30px;
  line-height: 34px;
}

.page__text h2 {
  font-size: 26px;
}

.page__text h3 {
  font-size: 22px;
}

.page__text h4 {
  font-size: 20px;
}

.page__text h5 {
  font-size: 18px;
}

.page__text h6 {
  font-size: 16px;
}

.page__text ul, .page__text ol {
  font-size: 16px;
  text-align: left;
}

.page__text ul {
  list-style: disc;
}

.page__text ol {
  list-style: decimal;
}

.page__text img {
  display: block;
  margin: auto;
  max-width: 100%;
}

.page__text img[align=left] {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.page__text img[align=right] {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.page__text .left {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 0;
  margin-bottom: 10px;
}

.page__text .right {
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0;
}

.page__text p {
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin: 10px 0;
  color: #000000;
}

.page__text .border {
  border: 1px solid black;
}

.page__text .border th, .page__text .border tr, .page__text .border td {
  border: 1px solid black;
}

.page__text b {
  font-weight: bolder;
}

.page__text i, .page__text em {
  font-style: italic;
}

.page__text a {
  color: #027DC3;
}

.page__text a:hover {
  text-decoration: none;
}

.page__text a:visited, .page__text a:focus {
  color: #027DC3;
}

.description {
  font-family: 'Arial', sans-serif;
}

.description--nonactive {
  display: none;
}

.description__title {
  font-family: 'Arial', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  color: #000000;
  margin-bottom: 37px;
  display: none;
}

.description__txt {
  margin-bottom: 50px;
}

.description__img {
  max-width: 380px;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 20px;
  margin-bottom: 10px;
}

.description__img__big {
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
  display: none !important;
}

.description__text {
  max-width: 80%;
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.description__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.description__link {
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  padding: 13px 0;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 220px;
  height: 50px;
}

.description__link__prev {
  background-color: #fff;
  color: #027DC3;
  margin-right: 20px;
  border: 1px solid #027DC3;
  padding-left: 17px;
  padding-right: 27px;
}

.description__link__prev:hover {
  color: white;
  background-color: rgba(2, 125, 195, 0.6);
}

.description__link__prev__img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  padding: 0;
  padding-right: 5px;
  width: 24px;
  margin: 0 !important;
}

.description__link__next {
  background-color: #027DC3;
  color: #ffffff !important;
  padding-left: 27px;
  padding-right: 17px;
}

.description__link__next:hover {
  color: #027DC3;
  background-color: rgba(2, 125, 195, 0.2);
  border: 1px solid #027DC3;
}

.description__link__next__img {
  margin: 0 !important;
  margin-left: 5px;
  width: 8px;
}

@media screen and (max-width: 768px) {
  .description__img {
    display: none;
  }
  .description__img__big {
    display: block;
    margin-bottom: 10px;
  }
  .description__text {
    margin-top: 20px;
  }
}

@media screen and (max-width: 500px) {
  .description__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .description__link__prev {
    margin: 0;
    margin-bottom: 15px;
  }
}

.about__title {
  font-family: 'Arial', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  text-align: center;
  color: #000000;
}

.about__company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.about__company__text {
  margin-top: 10px;
  max-width: 560px;
  margin-left: 30px;
}

.about__company__text__title {
  margin-bottom: 14px;
}

.about__company__text__description {
  font-family: Arial;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

.about__company__img {
  max-width: 580px !important;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__value {
  margin-bottom: 135px;
}

.about__value__title {
  margin-bottom: 10px;
}

.about__value__subtitle {
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
  margin-bottom: 26px;
}

.about__value__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 85%;
  margin: auto;
}

.about__value__block__val {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000000;
  font-family: Inter-Regular;
  font-style: normal;
  line-height: 18px;
}

.about__value__block__val__img {
  margin-bottom: 18px;
}

.about__value__block__val__title {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.03em;
  font-family: Inter-Bold;
  margin-bottom: 5px;
}

.about__value__block__val__text {
  font-size: 14px;
  letter-spacing: 0em;
  color: #605F5F;
  max-width: 200px;
  text-align: center;
}

.about__why {
  color: #000000;
  font-family: Arial;
  font-style: normal;
  letter-spacing: 0em;
  text-align: left;
  max-width: 80%;
  margin: auto;
  margin-bottom: 120px;
}

.about__why__title {
  margin-bottom: 60px;
}

.about__why__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  list-style: url("../img/about/square.png") outside;
}

.about__why__list__li {
  max-width: 290px;
  margin-bottom: 50px;
}

.about__why__list__li__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 13px;
}

.about__why__list__li__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}
